/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

.beside{
	display:flex;
}

#titlebackground{
	background: #e5a0ac; 
	height: 25%;
	width: 100%;
	
}

#storename{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 90px;
	margin-top: 0px;
	margin-bottom: 0px;
	max-height: 200px;
	text-align: center;
	max-width: 100%;
}

#storetype{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 65px;
	margin-top: 0px;
	padding-bottom: 50px;
	max-height: 150px;
	text-align: center;
	line-height: 50px	
}

#donuts{
	
    max-height: 222px;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9d6dc;
}

#options{
	background-color: #1B165B;
	width: 100%;
	height: 25px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.sections{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	text-align: center; 
	padding-left: 105px;
	text-decoration: none;
	line-height: 25px;
}

.bodyimages{
	height: 350px;
	width: 625px;
	margin-top: 15px;
}

.text{
	height: 350px;
	width: 1000px;
	text-align: center;
	margin-top: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #1B165B;
	font-size: 23px;
	line-height: 25px;
	margin-left: 5px;
	margin-right: 5px;
}
/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */
